*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* clases */
.AnimacionBackground{
    background-color: black;
}
.Navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    list-style: none;
    background-color: black;
    height: 50px;
    margin: 0;

}
.NavbarListItem{
    text-decoration: none;
    color: pink;

}
.NavbarListItem:hover{
    color: aqua;
}

@keyframes tituloHeader {

from{margin-left: 0;}
to{margin-left: 1.5;}

}
.animacionHeader{
    width: 50%;
    margin-left: 580px;
    margin-bottom: 0;
    background-color: black;
    color: pink;
    text-shadow: 1px  0px 0px black,
                0px  1px 0px black,
                -1px  0px 0px black,
                0px -1px 0px black;
    animation-name: tituloHeader;
    animation-duration: 3s;
    animation-iteration-count: 2;
}

@media only screen and (max-width:480px){

    .navbar-collapse{
        height: 200px;
    }
    @keyframes tituloHeader {

        from{margin-left: 0;}
        to{margin-left: 1.2;}
        
        }
        .animacionHeader{
            width: 70%;
            margin-left: 80px;
            margin-bottom: 0;
            background-color: black;
            color: pink;
            text-shadow: 1px  0px 0px black,
                        0px  1px 0px black,
                        -1px  0px 0px black,
                        0px -1px 0px black;
            animation-name: tituloHeader;
            animation-duration: 3s;
            animation-iteration-count: 2;
        }
}

@media only screen and (min-width:481px) and (max-width:978px){

    @keyframes tituloHeader {

        from{margin-left: 0;}
        to{margin-left: 1.2;}
        
        }
        .animacionHeader{
            width: 100%;
            margin-left: 280px;
            margin-bottom: 0;
            background-color: black;
            color: pink;
            text-shadow: 1px  0px 0px black,
                        0px  1px 0px black,
                        -1px  0px 0px black,
                        0px -1px 0px black;
            animation-name: tituloHeader;
            animation-duration: 3s;
            animation-iteration-count: 2;
        }
}
